<br/>
<div class="container">
	<div class="row">
		<div class="col-sm-7">
			<h3 class="headline first-child"><span>Welcome to Team Awesome!</span></h3>
			<p class="lead">
				Sed at porta tellus. Sed sit amet ipsum non dolor tincidunt vestibulum eget et urna. In et placerat eros. Curabitur tristique lacinia tortor ut ornare.
			</p>
			<p>
				Nunc in neque nec arcu vulputate ullamcorper. Ut id orci ac arcu consectetur fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis hendrerit enim id arcu lacinia, id commodo ante semper. Sed vel ante nec nisi vestibulum congue. Pellentesque non lacus in tortor rutrum tristique.
			</p>
			<hr>
			<a href="contact-us.html" class="btn btn-lg btn-red">Contact Us</a>
			<br /><br />
		</div>
		<div class="col-sm-5">
			<h3 class="headline first-child"><span>Video Intro</span></h3>
			<div class="video-container">
				<iframe src="//player.vimeo.com/video/67449472?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div> <!-- / .row -->
	<div class="row our-team-p">
		<div class="col-sm-12">
			<h3 class="headline"><span>Our Team</span></h3>
			<div class="row">
				<div class="col-sm-2 col-xs-6">
					<div class="team-member text-center">
						<img class="img-responsive center-block" src="img/photo-1.jpg" alt="...">
						<div class="info">
							John Doe
							<p class="text-muted">Founder</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2 col-xs-6">
					<div class="team-member text-center">
						<img class="img-responsive center-block" src="img/photo-2.jpg" alt="...">
						<div class="info">
							John Doe
							<p class="text-muted">Engineer</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2 col-xs-6">
					<div class="team-member text-center">
						<img class="img-responsive center-block" src="img/photo-3.jpg" alt="...">
						<div class="info">
							John Doe
							<p class="text-muted">Engineer</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2 col-xs-6">
					<div class="team-member text-center">
						<img class="img-responsive center-block" src="img/photo-1.jpg" alt="...">
						<div class="info">
							John Doe
							<p class="text-muted">Engineer</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2 col-xs-6">
					<div class="team-member text-center">
						<img class="img-responsive center-block" src="img/photo-2.jpg" alt="...">
						<div class="info">
							John Doe
							<p class="text-muted">Sales</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2 col-xs-6">
					<div class="team-member text-center">
						<img class="img-responsive center-block" src="img/photo-3.jpg" alt="...">
						<div class="info">
							John Doe
							<p class="text-muted">Admin Team</p>
						</div>
					</div>
				</div>
			</div> <!-- / .row -->
		</div>
	</div><!-- / .row -->
</div>