<% provide(:title, 'Getting Started with Arbonne') %>
<% content_for :breadcrumb do %>
<%=breadcrumb [ { "User Profile" => current_user }, { "Edit - test" => nil  } ] %>
<% end %>
<%= render 'layouts/topic_header' %>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3 class="headline first-child"><span>Three ways to get started with Arbonne!</span></h3>
			<p>
				Donec tincidunt nec mi eu venenatis. Nulla facilisi. Maecenas venenatis condimentum porttitor. Aliquam erat volutpat. In ac mollis odio. Praesent ac mi nisi. Nulla congue mi at porttitor ultrices. Nulla pellentesque placerat elit, sit amet egestas mi consectetur eleifend. Integer molestie ultricies libero ut consectetur. Maecenas consectetur quis elit quis consequat. Sed tincidunt nulla in lorem ullamcorper, ut aliquam odio malesuada.
			</p>
		</div>
	</div> <!-- / .row -->
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="pricing-option">
				<div class="pricing-inner">
					<div class="pricing-header">
						<h4>Client</h4>
					</div>
					<div class="pricing-number">
						<span>No Registration Fee</span>
					</div>
					<div class="pricing-body">
						<ul class="list-style-none">
							<li>Botanically based skin care, cosmetics and nutrition products</li>
							<li>Excellent customer service and convenient delivery</li>
							<li>Product gifts for referrals and hosting Presentations</li>
						</ul>
						<a href="#" class="btn btn-blue btn-sm">MORE INFO</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="pricing-option" id="bonus">
				<div class="pricing-inner">
					<div class="pricing-header">
						<h4>Preferred Client</h4>
					</div>
					<div class="pricing-number">
						$25 <span>Registration Fee</span>
						<i class="fa fa-scissors" id="bonus-tip" data-toggle="tooltip" data-placement="top" title="Click to reach a secret level."></i>
					</div>
					<div class="pricing-body">
						<ul class="list-style-none">
							<li>Enjoy a <strong>20% discount</strong> off the suggested retail price on all products</li>
							<li>Access to ongoing Product Specials and Sets</li>
							<li>Product gifts for referrals and hosting Presentations</li>
						</ul>
						<p class="text-center">
							<i class="fa fa-unlock fa-lg"></i><br />
							Congratulations! You've unlocked a secret level.<br />
							As a bonus you get a 5% discount, but keep it on the down low!
						</p>
						<a href="#" class="btn btn-blue btn-sm">MORE INFO</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="pricing-option">
				<div class="pricing-inner">
					<div class="pricing-header">
						<h4>Independent Consultant</h4>
					</div>
					<div class="pricing-number">
						$79 <span>Starter Kit</span>
					</div>
					<div class="pricing-body">
						<ul class="list-style-none">
							<li>Enjoy a <strong>30% discount</strong> off the suggested retail price on all products</li>
							<li><strong>Unlimited</strong> income potential & Mercedes-Benz Cash Bonus Program</li>
							<li>Upline support, training and achievement recognition and awards</li>
						</ul>
						<a href="#" class="btn btn-blue btn-sm">MORE INFO</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>