<% provide(:title, 'Step 1: Placing Your First Arbonne Order') %>
<% content_for :breadcrumb do %>
<%=breadcrumb [ { "Getting Started" => getting_started_place_order_path  }, { "Step 1 - Learning How To Order" => nil  } ] %>
<% end %>
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<!-- Search -->
			<!-- <form role="form">
				<div class="well">
					<div class="row">
						<div class="col-sm-12">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Enter your question here...">
								<span class="input-group-btn">
									<button class="btn btn-red" type="button"><i class="fa fa-search"></i></button>
								</span>
							</div>
						</div>
					</div>
				</div> -->
			</form>
			<!-- Categories -->
			<div class="panel-group" id="help-nav">
				<div class="panel panel-default">
					<div class="panel-heading">
						<a >
							<small>Step 1:</small> Your First Order
						</a>
					</div>
					<div id="help-nav-one" class="panel-collapse collapse in">
						<div class="panel-body">
							<ul>
								<li><a href="#">Learning How To Order</a></li>
								<li><a href="#">"Arbonnize" Your Home</a></li>
								<li><a href="#">Products For Parties</a></li>
								<li><a href="#">Business Aids</a></li>
								<li><a href="#">Products For Gifts</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- <div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-two" class="collapsed">
							<small>Step 2:</small> Your Contact List
						</a>
					</div>
					<div id="help-nav-two" class="panel-collapse collapse">
						<div class="panel-body">
							<ul>
								<li><a href="#">Subcategory (17)</a></li>
								<li><a href="#">Subcategory (8)</a></li>
								<li><a href="#">Subcategory (10)</a></li>
								<li><a href="#">Subcategory (24)</a></li>
								<li><a href="#">Subcategory (4)</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-three" class="collapsed">
							<small>Step 3:</small> 21 Reasons Why
						</a>
					</div>
					<div id="help-nav-three" class="panel-collapse collapse">
						<div class="panel-body">
							<ul>
								<li><a href="#">Subcategory (17)</a></li>
								<li><a href="#">Subcategory (8)</a></li>
								<li><a href="#">Subcategory (10)</a></li>
								<li><a href="#">Subcategory (24)</a></li>
								<li><a href="#">Subcategory (4)</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-four" class="collapsed">
							<small>Step 4:</small> Your "I" Story
						</a>
					</div>
					<div id="help-nav-four" class="panel-collapse collapse">
						<div class="panel-body">
							<ul>
								<li><a href="#">Subcategory (17)</a></li>
								<li><a href="#">Subcategory (8)</a></li>
								<li><a href="#">Subcategory (10)</a></li>
								<li><a href="#">Subcategory (24)</a></li>
								<li><a href="#">Subcategory (4)</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-five" class="collapsed">
							<small>Step 5:</small> Understanding District Manager
						</a>
					</div>
					<div id="help-nav-five" class="panel-collapse collapse">
						<div class="panel-body">
							<ul>
								<li><a href="#">Subcategory (17)</a></li>
								<li><a href="#">Subcategory (8)</a></li>
								<li><a href="#">Subcategory (10)</a></li>
								<li><a href="#">Subcategory (24)</a></li>
								<li><a href="#">Subcategory (4)</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-five" class="collapsed">
							<small>Step 6:</small> Activity!
						</a>
					</div>
					<div id="help-nav-five" class="panel-collapse collapse">
						<div class="panel-body">
							<ul>
								<li><a href="#">Subcategory (17)</a></li>
								<li><a href="#">Subcategory (8)</a></li>
								<li><a href="#">Subcategory (10)</a></li>
								<li><a href="#">Subcategory (24)</a></li>
								<li><a href="#">Subcategory (4)</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-five" class="collapsed">
							<small>Step 7:</small> The System
						</a>
					</div>
					<div id="help-nav-five" class="panel-collapse collapse">
						<div class="panel-body">
							<ul>
								<li><a href="#">Subcategory (17)</a></li>
								<li><a href="#">Subcategory (8)</a></li>
								<li><a href="#">Subcategory (10)</a></li>
								<li><a href="#">Subcategory (24)</a></li>
								<li><a href="#">Subcategory (4)</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-five" class="collapsed">
							<small>Step 8:</small> Stay Connected
						</a>
					</div>
					<div id="help-nav-five" class="panel-collapse collapse">
						<div class="panel-body">
							<ul>
								<li><a href="#">Subcategory (17)</a></li>
								<li><a href="#">Subcategory (8)</a></li>
								<li><a href="#">Subcategory (10)</a></li>
								<li><a href="#">Subcategory (24)</a></li>
								<li><a href="#">Subcategory (4)</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-five" class="collapsed">
							<small>Step 9:</small> Mind Your Mind
						</a>
					</div>
					<div id="help-nav-five" class="panel-collapse collapse">
						<div class="panel-body">
							<ul>
								<li><a href="#">Subcategory (17)</a></li>
								<li><a href="#">Subcategory (8)</a></li>
								<li><a href="#">Subcategory (10)</a></li>
								<li><a href="#">Subcategory (24)</a></li>
								<li><a href="#">Subcategory (4)</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-five" class="collapsed">
							<small>Step 10:</small> The Arbonne Culture
						</a>
					</div>
					<div id="help-nav-five" class="panel-collapse collapse">
						<div class="panel-body">
							<ul>
								<li><a href="#">Subcategory (17)</a></li>
								<li><a href="#">Subcategory (8)</a></li>
								<li><a href="#">Subcategory (10)</a></li>
								<li><a href="#">Subcategory (24)</a></li>
								<li><a href="#">Subcategory (4)</a></li>
							</ul>
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<div class="col-sm-8">
			<h3 class="headline"><span>Do you know how to maximize your first order?</span></h3>
			<p>
				Yes, do not hesitate to contact us if you have any questions or requests regarding this item. 
				<br /><br />
				Sed rutrum quis eros sit amet feugiat. Phasellus vestibulum libero et leo porta, eu scelerisque lacus aliquet. Vivamus euismod tincidunt velit sed malesuada. Pellentesque lacinia est ac lorem placerat tempus. In quis mauris at arcu bibendum fermentum eu quis velit. Pellentesque consequat molestie tortor, eget consectetur leo tristique ac. Quisque egestas arcu sed lectus vulputate, at faucibus quam malesuada. Donec fringilla turpis eros, id accumsan nibh egestas vel. Fusce a magna ut nisl pellentesque tincidunt.
				<br /><br />
				Sed imperdiet varius elit, ut congue arcu lobortis id. Aliquam ultrices ligula eu neque rutrum tincidunt. Pellentesque non metus neque. Donec blandit metus eu venenatis fringilla. Nam ut dui lorem. Nulla euismod a neque eget pulvinar. Proin cursus tristique lectus at iaculis. Phasellus elementum, mi in feugiat pulvinar, dui justo fermentum justo, a dapibus mi ligula nec nunc. Etiam a purus porta, mollis nulla ut, tempus elit. Quisque consectetur bibendum neque, vel tincidunt urna ultricies at. Mauris purus mauris, laoreet dapibus convallis non, tincidunt in elit. Nullam vel ligula nibh. Praesent egestas ullamcorper malesuada. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque rhoncus venenatis nunc non posuere.
			</p>

			<!-- Pagination -->
			<ul class="pager pull-right">
				<li><a href="#">Previous</a></li>
				<li><a href="#">Next</a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<!-- <div class="col-sm-2">
			<h3 class="headline"><span>Resources</span></h3>
			<ul class="list-style-none resources">
				<li><a href="about-us.html">About Us</a></li>
				<li><a href="blog.html">Our Blog</a></li>
				<li><a href="contact-us.html">Contact Us</a></li>
			</ul>
		</div> -->
	</div>
</div>