<div class="navbar-fixed-top name-default" style="height: 25px;  z-index: 2000; border-bottom: 1px solid #e4e4e4;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p class="text-left" style="color: #666; margin-top: 1px;"><i class="fa fa-leaf" style="color: #cccccc;"></i><small>&nbsp&nbsp&nbsp&nbsp</i><strong>Bethany Ruth Jones</strong> &nbsp&nbsp&nbspArea Mananger</small></p>
			</div>
			<!-- <div class="col-sm-4">
				<p class="text-right">
					<i class="fa fa-skype fa-1x"></i>
					&nbsp
					<i class="fa fa-facebook"></i>
					&nbsp
					<i class="fa fa-linkedin"></i>
					&nbsp
					<i class="fa fa-youtube"></i>
					&nbsp
					<i class="fa fa-pinterest"></i>
				</p>
			</div> -->
		</div>
	</div>
</div>